a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #2a80b9;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	padding-top: 70px;
}

.feed {
	width: 800px;
	padding-left: 20px;
}

.feed-item {
	display: block;
	margin-bottom: 40px;
	border-left: 4px solid #ccc;
	padding-left: 20px;
	max-width: 100%;
}

.feed-item img {
	max-width: 100%;
}

.query {
	width: 100%;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
}

.query h1 { margin: 0 }


.site-title {
	color: #ccc;
	font-weight: 200;
}

.image-title {
	margin-bottom: 20px;
}

.lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	flex-flow: row wrap;
	cursor: pointer;
}

.lightbox img {
	display: block;
	max-width: 800px;
	margin: 0 auto;
}

.lightbox .full-image {
	flex: 1 100%;
}

.lightbox img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 80%;
}

.controls {
	position: fixed;
	top: 0;
	left: 50%;
	background: #fff;
	text-align: center;
	margin: 20px 0;
	padding: 10px;
	border-radius: 3px;
	transform: translateX(-50%);
}

.controls a {
	margin: 0 10px;
	display: inline-block;
}

.lightbox.active {
	display: flex;
}
